/* .bg-dark{
    height: 10%;
    width: 10%;
} */

#grp__Cards1{
    padding: 7%;
    text-transform: bold;
    font-weight: 700;
    font-size: 26px;
}

#crd_1{
    padding: 10px;
    border-radius: 4px;
}

.ImageWrapper{
    padding: 4px;
    margin-top:7%;
}

